<%- include('header'); -%>
<h2><%= type %></h2>
<form action="/" method="get">
    <button type="submit">Go to LoginPage</button>
</form>
<form action="/register" method="get">
    <button type="submit">Register as a user</button>
</form>

<%- include('footer'); -%>