<footer>
    <hr>
    
        <a href="https://www.facebook.com/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook">
        </a>
        <a href="https:www.twitter.com/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="Twitter">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram">
        </a>
        <br><br>
        <p>Copyright ©2023 EdMax</p>
</footer>
</body>
</html>