<%- include('header') -%>
<form action="/reset" method="post">
    <input type="email" name="username" placeholder="Enter Email">
    <input type="text" name="otp" placeholder="Enter OTP">
    <input type="password" name="newPassword" placeholder="Enter New Password">
    <button type="submit">Submit</button>
</form>

<form action="/" method="get">
    <button type="submit">Cancel</button>
</form>
<%- include('footer') -%>